<h1>
	<%= @organization.title %>
</h1>

<%=link_to 'New V.I.P', new_organization_vip_path(@organization) %>
<%=link_to 'New Listing', new_organization_listing_path(@organization) %>

<% @listings = @organization.listings.group_by(&:the_when) %>
<% @listings.each do |date, listing| %>
	<table>
			<tr>
				<th>
					<%= date.strftime("%A, %e %b %Y") %>
				</th>
			</tr>
			<% listing.each do |list| %>
				<tr>
					<td>
						<%= list.title %> given by
						<%= link_to list.vip.name, organization_vip_path(@organization, list) %>
					</td>
				</tr>
				<tr>
					<td>
						<%= link_to 'Edit', edit_organization_listing_path(@organization, list) %>
						<%= link_to 'Delete', organization_listing_path(@organization, list), method: :delete, data: { confirm: "Are you sure?" } %>
					</td>
				</tr>
			</br>
			<% end %>
		</table>
	<% end %>
	